# Cabal related
.cabal-sandbox
cabal.sandbox.config
cabal.project.local
dist/
dist-newstyle/

# Stack related files
.stack-work/
stack.yaml

# inline-rust related
.inline-rust-quasi

# Other
**/*.o
**/*.hi
**/*.dyn_o
**/*.dyn_hi
.DS_Store
