# Clone directory
clone_folder: c:\inline-rust

environment:
  GHC_TAR: 'https://ghc-artifacts.s3.amazonaws.com/nightly/mingw64/latest/bindist.tar.xz'
  CABAL_ZIP: 'https://www.haskell.org/cabal/release/cabal-install-2.2.0.0/cabal-install-2.2.0.0-x86_64-unknown-mingw32.zip'
  RUSTUP_EXE: 'https://static.rust-lang.org/rustup/dist/i686-pc-windows-gnu/rustup-init.exe'

# Manually install cabal-install, GHC, and rustup
install:
  - appveyor-retry curl %CABAL_ZIP% --output cabal.zip
  - 7z x cabal.zip
  - set PATH=%PATH%;c:\inline-rust

  - appveyor-retry curl %GHC_TAR% --output ghc.tar.xz
  - mkdir ghc
  - 7z x ghc.tar.xz
  - tar xpf ghc.tar --strip-components 1 -C ghc
  - set PATH=%PATH%;c:\inline-rust\ghc\bin

  - appveyor-retry curl %RUSTUP_EXE% --output rustup-init.exe
  - rustup-init.exe -y --default-host=x86_64-pc-windows-msvc
  - set PATH=%PATH%;c:\Users\appveyor\.cargo\bin

# Build the project and test suite
build_script:
  - cabal --version
  - ghc --version
  - rustc --version
  - cargo --version
  - cabal new-update
  - cabal --store-dir=c:\cabal-store new-build --enable-tests --allow-newer

test_script:
  - cabal --store-dir=c:\cabal-store new-test --allow-newer
